/* CSS Initial Set-up */
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
header,
nav,
footer {
  margin: 0;
}
/* CSS Initial Set-up ends here  */

/* Header Starts Here  */
header {
  height: 114px;
}

.header-home {
  height: 40px;
  border: 1px solid green;
  background-color: #424242;
  display: flex;
  justify-content: space-around;
}

.home-box {
  display: flex;
  align-items: center;
}

.home-box a {
  padding: 0 20px;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.home-box button {
  color: #db5134;
  background-color: #000;
  padding: 12px 15px;
}

.contact-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-box ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

.contact-box ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.contact-box ul li a:hover {
  color: #db5134;
}

.contact-box ul li:nth-child(n + 4) > a {
  font-weight: 600;
}

.contact-box ul li {
  color: #fff;
}

.contact-box button {
  background-color: #db5134;
  color: #fff;
  padding: 6px 8px;
  border-radius: 5px;
}

.header-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-menu-appt {
  width: 1450px;
  display: flex;
  align-items: center;
  height: 75px;
}

.logo-box {
  width: 370px;
}

.topnav,
.search-box {
  display: none;
}

.menu-box {
  width: 900px;
}

.menu-box ul {
  display: flex;
  list-style: none;
  justify-content: end;
}

.menu-box ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #606164;
  padding: 30px 7px 28px 7px;
}

.menu-box ul li a:hover {
  color: #db5134;
  background-color: silver;
}

.appointment-box {
  width: 180px;
  text-align: center;
}

.appointment-box button {
  background-color: #db5134;
  color: #fff;
  border-color: #db5134;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
/* Header CSS Ends Here  */

/* Main CSS Starts Here  */
/* Cancer Opinion Div CSS Starts Here  */
.opinion-div {
  height: 23px;
  background-color: #db5134;
}

.opinion-div p {
  text-align: center;
  padding-top: 5px;
}

.opinion-div a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

/* Cancer Opinion Div CSS Ends Here  */
/* Main CSS Ends Here  */

@media only screen and (max-device-width: 480px) {
  .header-home,
  .appointment-box,
  .menu-box {
    display: none;
  }

  .logo-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .topnav {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 3px;
  }

  .topnav #myLinks {
    display: none;
    position: absolute;
    top: 55px;
    width: 100vw;
  }

  .topnav #myLinks a {
    color: black;
    padding: 10px 22px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 14px;
    line-height: 25px;
  }

  .topnav a {
    color: #db5134;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    font-size: 30px;
  }

  .topnav a.icon i {
    transform: scale(1.5, 1);
  }

  .logo-box img {
    width: 114px;
    height: 36px;
  }

  .search-box {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 15px;
  }

  .search-box span i {
    font-size: 17px;
    color: #cc3919;
  }

  .search-box div i {
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px 5px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header-home {
    display: none;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1250px) {
  /* Styles */
}

@media only screen and (min-device-width: 1251px) {
  /* Styles */
}
